.pinned-item {
  width: 100%;
  max-width: 300px;
  background: rgba(255,255,255,.5);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1.5rem;
  margin: 15px;
}

.pinned-item__text {
  font-family: var(--font2);
  font-size: .9rem;
}

.pinned-item__buttons {
  display: flex;
  justify-content: flex-end;
}

.pinned-item__button {
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  font-family: var(--font2);
  border: 1px solid black;
  cursor: pointer;
  margin: 5px 2px;
}

.green {
  background: var(--secondary);
}

.red {
  background: red;
  color: white;
}

.pinned-item__button:hover {
  filter: brightness(80%);
}
